.card {
  position: relative;
  border: 2px solid #fff;
  border-radius: 6px;
  width: 200px;
  height: 200px;
}
.card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  box-sizing: border-box;
}

/* front of card - the picture */
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media only screen and (max-width: 945px) {
  .card {
    position: relative;
    border: 2px solid #fff;
    border-radius: 6px;
    width: 100px;
    height: 100px;
  }
}
